body {
  font-family: Roboto, "Open Sans", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h3,
p,
ol {
  margin: 0;
  padding: 0;
}

ol {
  list-style-position: inside;
}

button {
  font-weight: bold;
  letter-spacing: 2px;
}

#restart {
  visibility: hidden;
}